.skeleton {
    padding: 0.3rem 1rem;
    position: relative;
    margin-top: 2rem;
}

.skeleton-wrapper {
    width: 100%;
    position: relative;
    margin-top: 3.3rem;
}

.skeleton .thumbnail {
    width: 10rem;
    height: 9rem;
    background: #D2DBE2;
    border-radius: 7px;
}

.skeleton .text-lg {
    width:10rem;
    background-color: #D2DBE2;
    border-radius: 7px;
    height: 1rem;
    margin-top: 1rem;
    
}

.skeleton .text-md {
    width: 50%;
    background-color: #D2DBE2;
    border-radius: 7px;
    height: 1rem;
}

.skeleton-store{
    height: 100%;
    width: 100%;
    display: flex;
}

.skeleton .icon {
    width: 5rem;
    height: 5rem;
    background: #D2DBE2;
    border-radius: 50%;
}

.skeleton .store-details {
    margin: auto 0;
    margin-left: 1rem;
    vertical-align: middle;
    background-color: #D2DBE2;
    border-radius: 7px;
    width: 7rem;
    height: 7rem;
}





